@mixin max-vw($width) {
	@media (max-width: $width + 'px') {
		@content;
	}
}

@mixin min-vw($width) {
	@media (min-width: $width + 'px') {
		@content;
	}
}

@mixin max-vh($height) {
	@media (max-height: $height + 'px') {
		@content;
	}
}

@mixin min-vh($height) {
	@media (min-height: $height + 'px') {
		@content;
	}
}

@mixin absolute-stretch {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

@mixin hardwareAccel() {
	transform: translateZ(0);
}

@mixin onBtnFocus($angular, $outerBorderWidth, $innerBorderWidth, $color) {
	@include hardwareAccel();
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -($outerBorderWidth + $innerBorderWidth);
		right: -($outerBorderWidth + $innerBorderWidth);
		bottom: -($outerBorderWidth + $innerBorderWidth);
		left: -($outerBorderWidth + $innerBorderWidth);
		border: $outerBorderWidth solid transparent;
		border-radius: $angular + 2px;
		transition: border-color $speed;
	}

	&:not(:active) {
		&:focus {
			&:before {
				border-color: $color;
			}
		}
	}
}

@mixin triangle($direction, $color: #000, $size: 4px) {
	$perpendicular-borders: $size solid transparent;

	@if $direction == top or $direction == bottom {
		border-right: $perpendicular-borders;
		border-left: $perpendicular-borders;
		transition: border-top-color $speed, border-bottom-color $speed;

	} @else if $direction == right or $direction == left {
		border-top: $perpendicular-borders;
		border-bottom: $perpendicular-borders;
		transition: border-left-color $speed, border-right-color $speed;

	}
	content: '';
	z-index: 2;

	width: 0;
	height: 0;

	border-#{$direction}: $size solid $color;
}
