.global-wrap {
	position: relative;

	&.withSidebar {
		border-radius: 0 0 4px 4px;
		background-color: #f1f1f1;

		.page {
			// @include min-vw(1400) {
			// 	width: calc(100vw - 300px);
			// }
			width: calc(100vw - 255px);
		}
	}

	.page {
		position: relative;
		width: 100vw;
		// min-height: 100vh;
		background-color: #f1f1f1;
	}
}

.bg {
	@include background();
	position: absolute;
	width: 100%;
	height: calc(100vh - 34px);
	border-radius: 0 0 4px 4px;

	&:before {
		border-radius: 0 0 4px 4px;
	}

	& + .global-wrap {
		.page {
			background-color: transparent;
		}
	}
}
