.global-wrap {
	position: relative;

	&.withSidebar {
		background-color: #f1f1f1;

		.page {
			width: calc(100vw - 255px);
		}
	}

	.page {
		position: relative;
		width: 100vw;
		// min-height: 100vh;
		background-color: #f1f1f1;
	}
}

.bg {
	@include background();
	position: absolute;
	width: 100%;
	height: calc(100vh - 34px);

	& + .global-wrap {
		.page {
			background-color: transparent;
		}
	}
}
