.header {
	@include min-vw($md) {
		padding: 0 0 25px;
	}

	align-items: flex-end;
	position: relative;
	display: flex;
	height: 103px;
	padding: 0 0 24px;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		height: 1px;
		background-color: rgba(184, 155, 245, 0.4);
		animation-name: fadeIn;
		animation-duration: 0.2s;
	}

	.logo-wrap {
		bottom: 0;
	}

	.page-title {
		@include source-regular();
		margin: 0 5vw 0 auto;
		color: #fff;
		font-size: 26px;
		letter-spacing: 1px;
		line-height: 1;
	}
}
