.sidebar-settings {
	@include min-vw($md) {
		width: 473px;
	}

	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(100% + 30px);
	width: 364px;
	height: 100%;
	background-color: #5e4b98;

	.body {
		height: calc(100vh - 170px);
		padding: 40px 30px 0;
	}

	.footer {
		padding: 0 30px 22px;
	}

	&.filter {
		.btn-inversed {
			width: 138px;
			margin-top: -1px;
			margin-left: -1px;
			font-family: 'SourceSansPro-SemiBold';
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.3px;
		}

		.body {
			padding: 25px 23px 0 29px;

			.field {
				margin-bottom: 25px;
			}
		}

		.head {
			height: 60px;
			padding: 22px 30px 0;
		}

		.footer {
			.btn-primary {
				@include min-vw($md) {
					margin: 10px 0 0 7px;
					padding: 0 56px;
				}

				padding: 0 30px;
			}
		}

		.dropdown-wrap {
			.dropdown-label {
				@include min-vw($md) {
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.25px;
				}
			}
		}
	}
}