@mixin btn() {
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
	line-height: 1px;
	white-space: nowrap;
	transition: color 0.3s, border 0.3s, background-color 0.3s;

	.ic {
		margin-right: 12px;
	}

	&.arrow {
		padding: 0 50px 0 30px;

		&.left {
			padding: 0 2em 0 3.3em;
		}
	}

	.arrow-right {
		align-items: center;
		position: absolute;
		top: 0;
		right: 17px;
		bottom: 0;
		display: flex;
	}

	.arrow-left {
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1.5em;
		display: flex;
	}

	&.fluid {
		width: 100%;
	}
}

.button {
	&:focus {
		outline: none;
	}
}

.btn-primary {
	@include source-semibold();

	@include min-vw(1400) {
		height: 56px;
	}
	@include onBtnFocus(50px, 2px, 2px, rgba(#43d7ad, 0.45));

	@include btn();

	height: 38px;
	border: 1px solid #43d7ad;
	border-radius: 50px;
	background-color: #43d7ad;
	color: #574589;
	font-size: 1.5em;
	transition: color 0.3s, border 0.3s, background-color 0.3s, width 0.3s;

	&:hover {
		border: 1px solid #59ebc1;
		background-color: #59ebc1;
	}

	&:active {
		border: 1px solid #43d7ad;
		background-color: #43d7ad;
	}

	&.disabled {
		border: 1px solid #8f77c5;
		background-color: transparent;
		color: #a78edc;
	}

	.text {
		opacity: 1;
		transition: opacity $speed;
		transition-delay: 0.1s;
	}

	&.round-animation {
		position: relative;
		margin: auto;
		transition: width 0.2s, border-radius 0.2s, padding 0.2s,
		background-color 0.3s, color 0.3s, border 0.3s;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: url(../images/check.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
			opacity: 0;
		}
	}

	&.ok {
		@include min-vw(1400) {
			width: 56px;
		}
		width: 38px;
		border-radius: 50%;

		&:after {
			opacity: 1;
			transition: opacity $speed;
			transition-delay: 0.1s;
		}

		.text {
			visibility: hidden;
			opacity: 0;
			transition: none;
		}
	}

	&.white {
		&.disabled {
			border: 1px solid #e8e8ea;
			background-color: #e8e8ea;
			color: rgba(#3f4a52, 0.4);
		}
	}
}

.btn-main {
	@include source-semibold();

	@include min-vw(1400) {
		height: 56px;
	}
	@include onBtnFocus(4px, 2px, 2px, rgba(#472e8a, 0.3));

	@include btn();

	height: 38px;
	border: 1px solid #7158ad;
	border-radius: 4px;
	background-color: #7158ad;
	color: #fff;
	font-size: 1.5em;
	transition: color 0.3s, border 0.3s, background-color 0.3s, width 0.3s;

	&:hover {
		border: 1px solid #7d64bc;
		background-color: #7d64bc;
	}

	&:active {
		border: 1px solid rgba(#6a52a4, 1);
		background-color: rgba(#6a52a4, 1);
	}

	&.disabled {
		border: 1px solid #8f77c5;
		background-color: transparent;
		color: #a78edc;
	}

	.text {
		opacity: 1;
		transition: opacity $speed;
		transition-delay: 0.1s;
	}
}

.btn-gray {
	@include source-semibold();

	@include min-vw(1400) {
		height: 56px;
	}
	@include onBtnFocus(4px, 3px, 1px, rgba(#cbcbcb, 0.3));

	@include btn();

	height: 38px;
	border: 1px solid #dedede;
	border-radius: 4px;
	background-color: #dedede;
	color: #33353f;
	font-size: 1.5em;
	transition: color 0.3s, border 0.3s, background-color 0.3s, width 0.3s;

	&:hover {
		border: 1px solid #d4d4d4;
		background-color: #d4d4d4;
	}

	&:focus {
		border: 1px solid #bfbfbf;
	}

	&:active {
		border: 1px solid rgba(#cbcbcb, 1);
		background-color: rgba(#cbcbcb, 1);
		color: rgba(#33353f, 0.5);
	}

	&.disabled {
		border: 1px solid #8f77c5;
		background-color: transparent;
		color: #a78edc;
	}

	.text {
		opacity: 1;
		transition: opacity $speed;
		transition-delay: 0.1s;
	}
}

.btn-white {
	@include source-semibold();

	@include min-vw(1400) {
		height: 56px;
	}
	@include onBtnFocus(3px, 2px, 1px, rgba(rgba(#8676b1, 0.035), 0.45));

	@include btn();

	height: 38px;
	padding: 0 20px;
	border: 1px solid #fff;
	border-radius: 3px;
	background-color: #fff;
	color: #000;
	font-size: 1.4em;
	transition: box-shadow $speed, background-color $speed, color $speed;

	&:focus {
		border: 1px solid #8676b1;
	}

	&:hover {
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
	}

	&:active {
		border: 1px solid #fff;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.01);
	}

	&.disabled {
		border-color: rgba(#676767, 0.67);
		background-color: transparent;
		color: rgba(#000, 0.6);
	}

	.copy {
		display: flex;
		margin: 0 5px 0 -5px;
	}
}

.btn-transparent {
	@include btn();
	@include source-regular();
	@include onBtnFocus(3px, 2px, 2px, rgba(rgba(#43d7ad, 0.035), 0.45));
	padding: 8px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: transparent;

	&:focus {
		border: 1px solid #43d7ad;
	}

	&:hover {
		color: #e1d2ff;
	}

	&:active {
		border: 1px solid transparent;
		color: rgba(#c1afee, 0.5);
	}

	.icon {
		margin-right: 12px;
	}
}

.btn-return {
	@include btn();
	@include onBtnFocus(50px, 2px, 4px, rgba(#43d7ad, 0.45));
	@include source-semibold();
	align-items: center;
	display: flex;
	height: 38px;
	border: 2px solid #d9c7fd;
	border-radius: 50px;
	background-color: transparent;
	color: #d9c7fd;
	font-size: 1.5em;
	line-height: 0;
	white-space: nowrap;

	i {
		transition: color 0.3s;
	}

	&:hover {
		border-color: #e4d7ff;
		background-color: #58458c;
		color: #e4d7ff;
	}

	&:focus {
		border-color: #43d7ad;
	}

	&:active {
		border-color: rgba(#e4d7ff, 0.6);
		background-color: #544288;
		color: rgba(#e4d7ff, 0.6);
	}
}

.btn-settings {
	@include btn();
	@include onBtnFocus(50px, 2px, 2px, rgba(#7158ad, 0.35));
	position: relative;
	width: 50px;
	height: 40px;
	padding: 0;
	border: 0;
	background-color: transparent;

	&:before {
		content: '';
		position: absolute;
		top: 5px;
		right: 10px;
		bottom: 5px;
		left: 10px;
		border: 2px solid transparent;
		border-radius: 50%;
		transition: border-color 0.3s;
	}
}

.btn-close {
	@include btn();
	@include onBtnFocus(50px, 2px, 2px, rgba(#7158ad, 0.35));
	@include iconmoon();
	width: 34px;
	height: 34px;
	border: 0;
	background-color: transparent;
	color: #afa5cc;

	&:after {
		content: '\e903';
		font-size: 18px;
	}
}

.btn-close {
	@include btn();
	@include onBtnFocus(50px, 2px, 2px, rgba(#7158ad, 0.35));
	@include iconmoon();
	width: 34px;
	height: 34px;
	border: 0;
	background-color: transparent;
	color: #afa5cc;

	&:after {
		content: '\e903';
		font-size: 18px;
	}
}

.btn-inversed {
	@include onBtnFocus(24px, 2px, 4px, rgba(#7158ad, 1));
	@include source-semibold();
	height: 38px;
	padding: 6px 16px;
	border: 2px solid #d9c7fd;
	border-radius: 24px;
	background-color: transparent;
	color: #d9c7fd;
	font-size: 1.4em;
	line-height: 0;
	white-space: nowrap;
}

.btn-modal {
	@include onBtnFocus(50px, 2px, 2px, rgba(#fff, 0.3));
	@include source-semibold();
	@include min-vw(1400) {
		height: 56px;
	}
	height: 38px;
	padding: 6px 3em;
	border: 1px solid rgba(#a8aab7, 0.4);
	border-radius: 50px;
	background-color: transparent;
	color: rgba(#fff, 0.8);
	font-size: 1.4em;
	line-height: 0;
	white-space: nowrap;
	transition: border .3s, color .3s;

	&:hover {
		border: 1px solid rgba(#a8aab7, 0.66);
	}

	&:active {
		color: rgba(#fff, 0.5);
	}
}

.btn-modal-close {
	@include onBtnFocus(2px, 2px, 2px, rgba(#fff, 0.3));
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: rgba(#fff, 0.5);
	font-size: 20px;
	transition: color 0.3s;

	&:hover {
		color: rgba(#fff , 0.8);
	}

	&:active {
		color: rgba(#fff , 0.4);
	}
}

.btn-link {
	@include source-regular();
	border: 0;
	background-color: transparent;
	color: #7158ad;
	font-size: 16px;
	transition: color .3s;

	&.gray {
		color: #898f95;

		&:hover {
			color: #676767;
		}

		&:active {
			color: rgba(#898f95, 0.7);
		}
	}

	&:hover {
		color: #7d64bc;
	}

	&:active {
		color: #a596cd;
	}

	&:focus {
		span {
			@include onBtnFocus(50px, 2px, 2px, rgba(#7158ad, 0.35));

			&:before {
				right: -10px;
				left: -10px;
				border: 2px solid rgba(#7158ad, 0.35);
			}

		}
	}

	span {
		@include onBtnFocus(50px, 2px, 2px, rgba(#7158ad, 0.35));
		position: relative;
		display: block;

		&:before {
			right: -10px;
			left: -10px;
		}

	}
}

.btn-square {
	@include onBtnFocus(3px, 2px, 2px, rgba(#43d7ad, 0.45));
	@include btn();
	width: 32px;
	height: 32px;
	padding: 0;
	border: 1px solid #43d7ad;
	border-radius: 3px;
	background-color: #43d7ad;
	color: #000;
	transition: color 0.3s, border 0.3s, background-color 0.3s, width 0.3s;

	&:hover {
		border: 1px solid #59ebc1;
		background-color: #59ebc1;
	}

	&:active {
		border: 1px solid #43d7ad;
		background-color: #43d7ad;
	}

	&.disabled {
		border: 1px solid #8f77c5;
		background-color: transparent;
		color: #a78edc;
	}
}

.btn-wrap {
	display: flex;

	button {
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}
