.form-wrap {
	flex-direction: column;
	align-items: center;
	position: relative;
	display: flex;
	width: 100%;

	&>.title {
		margin: -28px auto 20px 0;
		text-transform: uppercase;
	}

	.form-content {
		flex-direction: column;
		justify-content: center;
		position: relative;
		display: flex;
		line-height: 42px;
	}

	.form-action {
		.btns-wrap {
			padding-bottom: 35px;
		}

		.btn-primary {
			width: 184px;
		}
	}

	.lines {
		@include min-vh(680) {
			min-height: calc(68vh - 35px);
		}

		flex-direction: column;
		justify-content: center;
		display: flex;
		padding: 56px 0 40px;
	}

	.line {
		justify-content: flex-end;
		display: flex;

		&-label {
			@include source-regular();

			@include min-vw($md) {
				font-size: 16px;
			}

			position: relative;
			margin-right: 19px;
			color: #fff;
			font-size: 15px;
			letter-spacing: .3px;
			line-height: 40px;
			text-align: right;
			white-space: nowrap;
		}

		&-content {
			@include max-vw($md) {
				width: 360px;
			}

			width: 420px;
			line-height: 42px;
		}

		&:not(:last-child) {
			@include min-vw($md) {
				margin-bottom: 40px;
			}

			margin-bottom: 35px;
		}
	}
}

@include max-vw($md) {
	.withSidebar {
		.form-wrap {
			.line {
				flex-direction: column;

				&-label {
					margin-right: 0;
					text-align: left;

					&-text {
						position: relative;
					}
				}
			}

		}
	}
}