i.icon {
	@include iconmoon();
}

.icon-spinner:before {
	content: '\e900';
}

.copy:before {
	content: '\e901';
	font-size: 11px;
}

.arrow-right:before {
	content: '\e902';
	font-size: 14px;
}

.arrow-left {
	transform: rotate(180deg);

	&:before {
		content: '\e902';
		font-size: 14px;
	}
}

.arrow-direction {
	&.left {
		transform: rotate(180deg);
	}

	&:before {
		content: '\e90a';
		color: #9ba0a4;
	}
}

.icon-close-big:before {
	content: '\e903';
}

.icon-account {
	width: 11px;
	height: 11px;
	background-image: url(.././images/account.svg);
}

.icon-info:before {
	content: '\e906';
}

.icon-contract {
	width: 10px;
	height: 10px;
	background-image: url(.././images/contract.svg);
}

.icon-receive-trans {
	width: 11px;
	height: 11px;
	background-image: url(.././images/receive-trans.svg);
}

.icon-send-trans {
	width: 11px;
	height: 11px;
	background-image: url(.././images/send-trans.svg);
}

.win-zoom-out:before {
	content: '\e910';
}

.win-zoom-in:before {
	content: '\e90b';
}

.win-minimize:before {
	content: '\e90f';
}

.win-close:before {
	content: '\e90e';
}

.info-empty:before {
	content: '\e90c';
}