@mixin input {
	@include min-vw(1200) {
		font-size: 18px;
	}
	@include min-vw(1400) {
		height: 60px;
		padding: 0 22px;
		font-size: 20px;
	}
	height: 44px;
	padding: 0 14px;
	border-radius: 3px;
	font-size: 16px;
	transition: background-color $speed ease, color $speed, border $speed ease;

	&:focus {
		outline: none;
	}
}

.field {
	position: relative;
}

.input {
	align-items: center;
	position: relative;
	display: flex;

	& > input {
		@include input();
		@include source-semibold();
		@include hardware-accel();
		letter-spacing: 0.017em;

		&::placeholder {
			line-height: 44px;
		}
	}

	&.labeled.left {
		.label {
			position: absolute;
			right: calc(100% + 1.8em);
		}
	}

	&.fluid {
		input {
			width: 100%;
		}
	}

	&.disabled {
		input {
			border-color: #7d65be;
			background-color: #7d65be;
			color: #574589;

			&:hover,
			&:focus {
				background-color: #7d65be;
				color: #574589;
			}
		}
	}

	&.success {
		input {
			padding-right: 40px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 1.2em;
			bottom: 0;
			width: 22px;
			height: 22px;
			margin: auto;
			background-image: url(../images/approved.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			animation: fadeIn 0.2s;
		}
	}
}

// &.pink
.input.pink {
	input {
		border: 1px solid #bfaaeb;
		background-color: #bfaaeb;
		color: #33353f;

		&::placeholder {
			color: #624d9a;

		}

		&:hover {
			border: 1px solid #cdbaf5;
			background-color: #cdbaf5;
		}

		&:focus {
			border: 1px solid #fff;
			background-color: #fff;
		}
	}

	&.error {
		input,
		input:hover,
		input:focus {
			border-color: #ff5484;
		}
	}

	& + .error-message {
		background-color: #4e4275;
		color: #ff5b5b;
	}

	& + .hints,
	& +  .error-message + .hints {
		color: #b89bf5;

		.active {
			color: #fff;
		}

		.error {
			color: #e94436;
		}
	}
}
// &.white
.input.white {
	input {
		border: 1px solid #a8abb7;
		background-color: transparent;
		color: #3f4a52;

		&::placeholder {
			color: rgba(#3f4a52, 0.5);
		}

		&:hover {
			border: 1px solid rgba(#919298, 0.91);
			background-color: #fff;
		}

		&:focus {
			border: 1px solid #737d83;
			background-color: #fff;
		}
	}

	&.error {
		input,
		input:hover,
		input:focus {
			border-color: rgba(#e94436, 0.9);
		}
	}

	& + .error-message {
		background-color: rgba(#e94436, 0.9);
		color: #fff;
	}

	& + .hints,
	& +  .error-message + .hints {
		color: #5b5c63;

		.active {
			color: #3f4a52;
		}

		.error {
			color: #e94436;
		}
	}
}

.hints {
	@include source-regular();

	@include min-vw(1400) {
		font-size: 16px;
		line-height: 22px;
	}
	margin-top: 0.8em;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;

	.hint {
		transition: color $speed ease;
	}
}

form {
	.field {
		position: relative;
	}
}

// State loading

.input {
	&.loading {
		input {
			padding-right: 40px;
		}

		.spinner {
			position: absolute;
			right: 1.2em;
			width: 20px;
			height: 20px;
			background-image: url(../images/input-loading.png);
			background-size: cover;
			color: rgba(#33353f, 1);
			animation: rotation 0.6s infinite linear;
		}
	}
}


.error-message {
	@include source-regular();
	position: absolute;
	bottom: auto;
	left: 5px;
	margin: 3px 5px 0 0;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 13px;
}

// Password

.input {
	&.password {
		input {
			padding-right: 57px;

			&[type='password'] {
				color: #5a478e;
				letter-spacing: 0.1em;

				&::placeholder {
					letter-spacing: 0.017em;
				}
			}
		}

		.icon-eye {
			@include min-vw(1400) {
				height: 60px;
			}
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 44px;
			border: 0;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			outline: none;

			&.enable {
				background-image: url(../images/eye-enable.svg);
			}

			&.disabled {
				background-image: url(../images/eye-disabled.svg);
			}
		}
	}
}
