.backup-list {
	.backup-item {
		width: 555px;
		padding: 20px 40px 28px 40px;
		background-color: #565468;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		.key {
			color: #fff;
			font-family: 'SourceSansPro-Regular';
			font-size: 15px;
			line-height: 15px;
			white-space: nowrap;

			&-wrap {
				@include source-regular();
				margin: 0;

				&:first-child {
					margin-bottom: 23px;

					.key {
						font-size: 14px;
					}
				}

				&:nth-child(2) {
					margin-bottom: 4px;
				}
			}

			&-label {
				margin-bottom: 9px;
				color: #898f95;
				font-size: 13px;
				font-weight: 400;
			}

			&-action {
				justify-content: space-between;
				display: flex;

				.key {
					margin-right: 10px;

				}

			}

		}
	}
}

.modal-header {
	.modal-title {
		.account-name {
			margin-right: 5px;
			color: #43d7ad;
			word-break: break-all;
		}
	}
}