.radio {
	&:not(:last-child) {
		margin-bottom: 15px;
	}

	input[type='checkbox'] {
		position: absolute;
		opacity: 0;

		&:disabled ~ label {
			&:before {
				border-color: #b0a9c5;

			}
		}

		&:checked ~ label {
			color: #fff;

			.handler {
				&:before {
					border: 3px solid #fff;
					background-color: #6650a0;
				}
			}
		}

		&:active {
			& ~ label {
				.handler {
					&:before {
						opacity: .7;
					}
				}
			}
		}

		&:focus {
			& ~ label {
				.handler {
					&:before {
						@include onCheckboxFocus(rgba(203, 203, 203, 0.65));
					}
				}
			}
		}
	}

	label {
		@include source-semibold();
		align-items: start;
		position: relative;
		display: flex;
		color: #b89bf5;
		font-size: 14px;
		cursor: pointer;
		user-select: none;
		transition: color $speed;

		.handler {
			align-items: center;
			display: flex;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 10px;
				min-width: 10px;
				height: 10px;
				margin: auto;
				border: 3px solid #8069b7;
				border-radius: 50%;
				background-color: #8069b7;
				transition: background-color $speed, border-color $speed;
			}
		}
	}

	.label-text {

		display: flex;
		margin: 0 0 0 20px;
		line-height: 42px;
	}

	.hints {
		margin-top: -5px;

		.hint {
			margin: 0 0 0 20px;
			color: #b89bf5;
		}
	}
}
