.rectangle {

	background-color: #e8e8ea;

	.title {
		@include page-title();

		@include min-vw($md) {
			margin-bottom: 20px;
		}
		margin-bottom: 8px;
	}

	.form-wrap {			
		.lines {
			@include min-vh(680) {
				min-height: auto;
			}
			padding: 0;
		}

		.line {
			&:not(:last-child) {
				@include min-vw($md) {
					margin-bottom: 24px;
				}
				margin-bottom: 22px;
			}
		}

		.line-label {
			@include source-semibold();
			@include min-vw($md) {
				font-size: 15px;
			}
			margin-right: 31px;
			color: #3f4a52;
		}
	}
}