html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include min-vw(1200) {
		font-size: calc(62.5% + 0.05vw);
	}
	@include min-vw(1400) {
		font-size: calc(62.5% + 0.14vw);
	}
	margin: 0;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 7px;
	-webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
