.auth-tabs {
	width: 100%;

	.menu {
		@include min-vw(1400) {
			margin: 0 0 0 17vw;
			padding: 0 0 40px;
		}
		align-items: flex-end;
		display: flex;
		height: 16vh;
		min-height: 126px;
		margin: 0 0 0 145px;
		padding: 0 0 24px;

		&-item {
			@include source-regular();

			@include btn();
			@include max-vw(1200) {
				margin-right: 13px;
				font-size: 1.9em;
				letter-spacing: 0.6px;
			}

			order: 2;
			margin-right: 2em;
			border: 1px solid transparent;
			border-radius: 3px;
			background-color: transparent;
			color: #b89bf5;
			font-size: 2.2em;
			letter-spacing: 0.9px;
			line-height: 1;
			user-select: none;
			transition: color $speed;
			animation: fadeIn $speed;
			will-change: transform;

			&:not(.active):not(:active) {
				@include onBtnFocus(4px, 2px, 2px, rgba(#43d7ad, 0.45));

				&:focus {
					border: 1px solid #43d7ad;
					transition: all $speed;
				}
			}

			&:hover {
				color: #e1d2ff;
			}

			&:active {
				border: 1px solid transparent;
				color: rgba(#e1d2ff, 0.5);
			}

			&:not(.active) {
				cursor: pointer;
			}

			&.active {
				order: 1;
				color: #fff;
			}
		}

		.g-auth {
			@include btn();
			@include source-regular();
			@include onBtnFocus(40px, 2px, 2px, rgba(#43d7ad, 0.45));
			@include min-vw(1400) {
				margin: 0 5vw 0 auto;
			}
			@include max-vw(1200) {
				font-size: 1.3em;
			}

			order: 3;
			margin: 0 44px 0 auto;
			border: 1px solid transparent;
			border-radius: 40px;
			background-color: transparent;
			color: #fff;
			font-size: 1.9em;

			&:active {
				border: 1px solid transparent;
				color: #43d7ad;
			}

			&:hover {
				color: #59ebc1;
			}

			.ic {
				margin-top: 2px;
			}

			&:focus {
				border: 1px solid #43d7ad;
			}
		}
	}

	.segment {
		display: flex;
		border-top: 1px solid rgba(#b89bf5, 0.4);
	}

	.inner {
		width: 100%;
	}
}

.authorization-form {
	flex-direction: column;
	align-items: center;
	display: flex;

	.form-content {
		@include min-vw(1400) {
			margin-right: 105px;
		}
		flex-direction: column;
		justify-content: center;
		position: relative;
		display: flex;
	}

	.form-action {
		.btns-wrap {
			padding-bottom: 35px;
		}

		.btn-primary {
			@include min-vw(1400) {
				width: 270px;
			}
			width: 168px;
		}
	}

	.lines {
		@include min-vh(680) {
			height: calc(68vh - 1px);
		}
		flex-direction: column;
		justify-content: center;
		display: flex;
		padding: 56px 0;
	}

	.line {
		justify-content: flex-end;
		display: flex;

		&-label {
			@include source-regular();
			@include min-vw(1400) {
				line-height: 60px;
			}
			width: 134px;
			margin-right: 1.9em;
			color: #fff;
			font-size: 1.6em;
			line-height: 44px;
			text-align: right;
			white-space: nowrap;
		}

		&-content {
			@include max-vw(1400) {
				max-width: 362px;
			}
			width: 100%;
			min-width: 362px;
			max-width: 486px;
		}

		&:not(:last-child) {
			@include min-vw(1400) {
				margin-bottom: 4em;
			}
			margin-bottom: 3.3em;
		}
	}

	.avatar-box {
		align-items: center;
		display: flex;

		img {
			@include min-vw(1400) {
				min-width: 60px;
				height: 60px;
			}
			min-width: 44px;
			height: 44px;
			border-radius: 3px;
		}
	}

	.avatar-desciption {
		margin-left: 1.5em;
		padding: 0 20px 0 0;
		color: #b89bf5;
		font-size: 1.4em;
		line-height: 1.4em;
		white-space: nowrap;
	}
}

.logo-wrap {
	@include min-vw(1200) {
		padding: 0 0 24px 55px;
	}
	@include min-vw(1400) {
		padding: 0 0 40px 5vw;

		img {
			width: 64px;
		}
	}
	align-items: flex-end;
	position: absolute;
	display: flex;
	height: 16vh;
	min-height: 126px;
	padding: 0 0 24px 50px;
}
