.main-bg {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-color: rgba(#6852a4, 0.7);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-image: url(../images/bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
