.frozen-wrap {
    background-color: #F1F1F1;

    .return {
        margin-bottom: 45px;
        border-bottom: 1px solid rgba(#A8AAB8, 0.4);

        @include max-vw($md) {
            margin-bottom: 35px;
        }
    }

    .btn-return {
        margin: 12px;
        border: transparent;
        color: #3F4A52;

        .arrow-left {
            color: #A4A4AC;
            left: 8px;
        }

        .text {
            margin-left: 26px;
        }

        &:hover {
            background-color: transparent;
            color: #A4A4AC;
        }

        &:active {
            background-color: transparent;
            color: #A4A4AC;
        }

        &:focus {
            border-color: #A4A4AC;
        }
    }

    .frozen-form-wrap {
        margin: 0 45px 57px;

        @include max-vw($md) {
            margin: 0 35px 57px 45px;
        }

        .page-title {
            font-size: 15px;
            letter-spacing: 2.1px;
            text-transform: uppercase;
            margin-bottom: 37px;

            @include max-vw($md) {
                font-size: 13px;
                letter-spacing: 2.3px;
                margin-bottom: 26px;
            }
        }

        .form {
            background-color: #E8E8EA;
            padding: 60px 100px 75px 0;

            @include max-vw($md) {
                padding: 30px 60px 60px 53px;
            }
        }

        .line {
            @include source-regular();
            display: flex;
            flex-direction: row;
            height: 50px;
            margin-left: auto;

            @include max-vw($md) {
                flex-direction: column;
                height: auto;
            }

            &:not(:last-child) {
                margin-bottom: 30px;

                @include max-vw($md) {
                    margin-bottom: 25px;
                }
            }

            &:nth-child(2) {
                .line-content {
                    min-width: 25%;

                    @include max-vw($md) {
                        .dropdown-toggle {
                            width: 58%;
                        }
                    }
                }

                .line {
                    @include max-vw($md) {
                        margin-top: -76px;
                        min-width: 58%;
                    }

                    .line-label {
                        min-width: 60%;

                        @include max-vw($md) {
                            min-width: 58%;
                            margin-left: auto;
                        }
                    }

                    .line-content {
                        .input {
                            width: 100%;
                            margin-left: auto;

                            @include max-vw($md) {
                                width: 58%;
                            }
                        }
                    }
                }
            }

            .line-label {
                min-width: 41%;
                text-align: right;
                align-self: center;

                @include max-vw($md) {
                    min-width: 100%;
                    text-align: left;
                    margin-bottom: 10px;
                }

                .line-label-text {
                    font-size: 16px;
                    line-height: 22px;
                    color: #3F4A52;
                    margin-right: 20px;
                    letter-spacing: 0.7px;

                    @include max-vw($md) {
                        font-size: 15px;
                    }
                }
            }

            .line-content {
                min-width: 59%;

                .dropdown-toggle,
                input {
                    width: 100%;
                    height: 50px;
                    font-size: 19px;

                    @include max-vw($md) {
                        height: 44px;
                        font-size: 17px;
                    }
                }
            }

            .icon-info {
                font-size: 14px;
                margin-left: 10px;
                color: #8E8E97;

                &:hover {
                    color: #3B4952;
                    cursor: pointer;
                }
            }
        }
    }

    .frozen-btn-wrap {
        display: flex;
        flex-direction: row;
        margin-left: calc(41% - 45px);

        @include max-vw($md) {
            margin-left: 88px;
        }

        button {
            margin: 0 10px;
            padding: 10px 40px;

            .text {
                color: #272239;
                font-size: 16px;
                letter-spacing: 0.8px;
            }
        }
    }
}