.transactions {
	flex-direction: column;
	display: flex;

	.transactions-wrap>.page-title {
		@include min-vw($md) {
			margin-left: 47px;
		}

		margin-bottom: 13px;
		margin-left: 30px;
	}
}

.transactions-wrap {
	padding: 50px 10px 0;
}

.table-transactions {
	@include source-regular();

	.transaction-header {
		display: none;
	}

	.line-air {
		li {
			height: 15px;
		}
	}

	.line {
		font-size: 14px;
		white-space: nowrap;
		cursor: default;

		.icon {
			font-size: 40px;
		}

		&.contract {
			cursor: pointer;

			.handler {
				&:before {
					@include triangle(top, #9a9ba0);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}
			}
		}

		.handler {
			position: relative;
			width: 40px;
		}
	}

	.line.contract:hover {
		border: 1px solid #bfbfbf;
		box-shadow: 0 0 1px rgba(#cbcbcbcb, 0.64);
	}

	.amount {
		.line-content {
			@include source-semibold();
			color: #3f4a52;
		}
	}

	.type {
		.icon {
			color: #5b5c63;
		}

		.line-content {
			@include source-semibold();
			color: #5b5c63;
			letter-spacing: 0.42px;
		}
	}

	.fee {
		color: #5b5c63;
	}

	.age {
		.line-content {
			color: #a4a4ab;
		}
	}

	.from-to-icon {
		width: 40px;
		height: 40px;
	}

	.from,
	.to {
		@include heebo-regular();

		.line-content {
			min-width: 50px;
		}
	}

	a {
		@include heebo-regular();
		color: #7158ad;

		&:hover {
			color: #7d64bc;
		}

		&:active {
			color: #a596cd;
		}
	}

	.selected {
		.handler {
			&:before {
				transform: rotate(270deg);
			}
		}
	}

	.transaction-item {
		padding: 0;
		border: 1px solid transparent;

		&:focus {
			outline: none;
		}

		&:nth-child(2n) {
			.line {
				background-color: rgba(#e3e3e3, 1);
				// 
			}
		}
	}

	.line-details {
		&-wrap {
			@include source-regular();

			@include min-vw($md) {
				padding: 8px 0 13px 50px;
			}

			display: flex;
			width: 0;
			padding: 20px 0 20px 34px;

			.status {
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				display: flex;
				padding-right: 60px;
				border-right: 1px solid #c2c2c2;

				&-title {
					padding-bottom: 10px;
					color: #8e8e97;
					font-size: 15px;
				}

				&-content {
					color: #5b5c63;
					font-size: 15px;
				}
			}

			.bytecode {
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				display: flex;
				padding-left: 40px;

				&-title {
					color: #8e8e97;
					font-size: 15px;
				}

				.button {
					padding: 0;
					border: 0;
					background-color: transparent;
					color: #5b5c63;
					font-size: 16px;
				}
			}
		}

		.button {
			align-items: center;
			display: flex;
			color: #3f4a52;

			&:active {
				.icon {
					background-color: rgba(#cdd0d1, 0.7);
				}
			}

			&:focus:not(:active) {
				.icon {
					@include onIconFocus(50px, 2px, 2px, rgba(#9a9ba0, 0.3));
				}
			}

			.text {
				@include text-overflow();

				@include max-vw(1000) {
					width: 260px;
				}

				width: 400px;
				margin-right: 10px;
			}

			.icon {
				align-items: center;
				justify-content: center;
				display: flex;
				width: 24px;
				min-width: 24px;
				height: 24px;
				border-radius: 50%;
				background-color: #cdd0d1;
				transition: background-color 0.3s;
			}
		}
	}
}

.table-transactions .transaction-item.selected .line.contract {
	background-color: rgba(0, 0, 0, 0);
}

@include max-vw(999) {
	.table-transactions {
		margin-top: 20px;

		ul>li {
			padding-top: 11px;
			line-height: 12px;

			&.from,
			&.from-to-icon,
			&.to,
			&.age {
				padding-top: 0px;
				font-size: 13px;
			}

		}

		.transaction-item {
			display: flex;
			width: 100%;
			background-color: transparent;

			&.selected {
				.line {
					border: 1px solid #c2c2c2;
					border-bottom: 0;
				}
			}

			.line {
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				position: relative;
				display: flex;
				width: 100%;
				border: 1px solid transparent;
				border-bottom: 0;

				.type {
					@include max-vw(1000) {
						width: 30%;
					}

					@include min-vw($md) {
						margin-left: 47px;
					}


					align-items: center;
					order: 1;
					display: flex;
					width: 38%;
					margin-left: 30px;
				}

				.amount {
					order: 2;
					width: 25%;
					margin-left: auto;
					text-align: right;
				}

				.fee {
					@include max-vw(1000) {
						width: 30%;
						margin: 0 30px 0 10px;
						text-align: right;
					}

					order: 3;
					margin: 0 40px 0 5px;

					&:before {
						content: '(fee — ';
					}

					&:after {
						content: ')';
					}
				}

				.handler {
					position: absolute;
					top: 20px;
					right: 0px;
				}

				.from {
					order: 4;
					margin-left: 30px;
				}

				.from-to-icon {
					order: 5;
					height: 37px;
				}

				.to {
					order: 6;
					margin-right: auto;
				}

				.age {
					@include max-vw(1000) {
						margin-right: 30px;
					}

					order: 7;
					margin-right: 40px;
				}
			}
		}

		.line-details {
			padding: 0 1px;

			li {
				&:not(:first-child) {
					padding-top: 0;
					line-height: 1;
				}

				&:first-child {
					margin-top: -1px;
					border: 1px solid #c2c2c2;
					border-top: 0;
				}
			}

		}

		.type.icon {
			margin-right: 5px;
			margin-left: 18px;
		}

		.icon-receive-trans,
		.icon-send-trans,
		.icon-contract,
		.icon-account {
			display: inline-block;
			padding-right: 27px;
			background-repeat: no-repeat;
		}
	}
}

@include min-vw(1000) {
	.table-transactions {
		position: relative;
		display: table;
		width: 100%;

		.transaction-header {
			display: contents;

			.line {
				li {
					@include source-regular();
					height: 54px;
					color: #8e8e97;
					text-transform: capitalize;

					&.type {
						@include min-vw($md) {
							padding-left: 47px;
						}

						padding-left: 30px;
					}
				}
			}
		}

		.transaction-item {
			display: contents;
			width: 100%;
		}

		.selected {
			.line {
				li {
					border-top: 1px solid #c2c2c2;
					background-color: transparent;

					&:first-child {
						border-left: 1px solid #c2c2c2;
					}

					&:last-child {
						border-right: 1px solid #c2c2c2;
					}
				}
			}
		}

		.line {
			display: table-row;
			padding: 0 20px 0 30px;
			border: 1px solid transparent;
			border-bottom: 0;

			li {
				display: table-cell;
				height: 42px;
				border-top: 1px solid transparent;
				text-align: left;
				vertical-align: middle;
				white-space: nowrap;

				.line-content {
					position: relative;

					span {
						padding-left: 5px;
					}
				}

				&:first-child {
					border-left: 1px solid transparent;
				}

				&:last-child {
					border-right: 1px solid transparent;
				}

				&.type {
					padding: 0px;

					.icon-receive-trans+.line-content {
						@include max-vw($md) {
							top: 0;
						}

						top: -1px;
					}

					.line-content {
						@include source-semibold();

						@include max-vw($md) {
							font-size: 13px;
						}

						left: -2px;
						color: #5b5c63;
					}

					.icon {
						margin-right: 10px;
						margin-left: 18px;
						font-size: 40px;
						line-height: 0;
						vertical-align: middle;
					}

					.icon-receive-trans,
					.icon-send-trans,
					.icon-contract,
					.icon-account {
						@include min-vw($md) {
							margin-left: 47px;
						}

						display: inline-block;
						margin-left: 30px;
						padding-right: 27px;
						background-repeat: no-repeat;
					}
				}

				&.age {
					padding: 0 10px;
				}

				&.from,
				&.to {
					a,
					span {
						@include text-overflow();
						@include max-vw(1100) {
							max-width: 80px
						}
						@include max-vw(1050) {
							max-width: 60px
						}
						display: inline-flex;
						max-width: 160px;
					}
				}

				&.from {
					width: 1px;
					padding: 0;
				}

				&.to {
					@include max-vw(1100) {
						width: 12%;
						padding: 0 8px;
					}
					@include max-vw(1050) {
						width: 11%;
						padding: 0 7px;
					}
					width: 16%;
					padding: 0 10px;
				}

				&.from-to-icon {
					position: relative;
					width: 40px;
					min-width: 40px;
					color: #9ba0a4;
					font-size: 40px;

					.icon {
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}

				&.amount {
					padding: 0 10px;
				}

				&.fee {
					padding: 0 0 0 10px;
				}

				&.handler {
					width: 60px;
				}
			}
		}

		.line-details {
			display: table-row;

			li {
				display: table-cell;
				border-bottom: 1px solid #c2c2c2;

				&:first-child {
					border-left: 1px solid #c2c2c2;
				}

				&:last-child {
					border-right: 1px solid #c2c2c2;
				}
			}

			&-wrap {
				@include source-regular();
				display: flex;
				width: 0;

				.status {
					padding-right: 100px;
					border-right: 1px solid #c2c2c2;

					&-title {

						padding-bottom: 7px;
						color: #8e8e97;
						font-size: 13px;
					}

					&-content {
						color: #5b5c63;
						font-size: 14px;
					}
				}

				// 8px 0 13px 50px
				.bytecode {
					padding-left: 17px;

					&-title {
						color: #8e8e97;
						font-size: 13px;
					}

					.button {
						padding: 0;
						border: 0;
						background-color: transparent;
						color: #5b5c63;
						font-size: 13px;

						i.icon {
							width: 17px;
							min-width: 17px;
							height: 17px;
						}
					}
				}
			}
		}
	}
}