.page-wrap {
	overflow: hidden;
	border-radius: 0 0 4px 4px;

	.page {
		@include min-vw($md) {
			width: calc(100vw - 225px);
		}
		flex-direction: column;
		display: flex;
		width: calc(100vw - 225px);
		height: calc(100vh - 34px);
		transition: transform 0.2s;

		.title-wrap {
			align-items: center;
			justify-content: space-between;
			display: flex;
			height: 17px;
		}

		.title {
			@include page-title();
		}
	}

	&.open {
		.page {
			@include min-vw($md) {
				width: calc(100vw - 255px);
				transform: translateX(-443px);
			}
			transform: translateX(-363px);
		}

		.sidebar-settings {
			left: 100%;
		}
	}
}

.page-scroll {
	flex: 1;
	position: relative;
	height: calc(100vh - 34px);
}

.page-in-scroll {
	position: relative;
	height: calc(100vh - 34px);
}

.page-footer {
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	display: flex;
	padding: 25px 22px 28px;
	background-color: #e8e8e8;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}

.footer-actions {
	align-items: center;
	justify-content: space-between;
	display: flex;
	margin-top: auto;

	.btn-wrap {
		
		@include min-vw($md) {
			.button {
				min-width: 200px;
			}
		}

		button {
			width: 100%;
			min-width: 140px;
			max-width: 10em;
		}

	}

	.footer-info {
		@include source-regular();
		font-size: 14px;
		text-align: right;

		.mode {
			margin-bottom: 6px;
			color: #8e8e97;
		}

		.sync {
			color: #5b5c63;

			.percent {
				@include source-semibold();
				color: #33353f;
			}
		}
	}
}
