.password-info {
	@include source-regular();


	@include min-vw($md) {
		max-width: 666px;
		font-size: 18px;
	}
	@include min-vw(1500) {
		max-width: 704px;
		font-size: 19px;
	}

	max-width: 585px;
	margin: 0 0 60px;
	color: #fff;
	font-size: 16px;
	line-height: 22px;

	p:first-child()  {
		margin: 0;
	}

	p {
		margin: 20px 0 0;
	}
}
