.receive-wrap {
	@include min-vw($md) {
		padding: 50px 57px 0;
	}
	padding: 50px 40px 0;

	.description-block {
		@include source-regular();
		@include min-vw($md) {
			font-size: 18px;
		}
		margin-top: 40px;
		color: #3f4a52;
		font-size: 16px;

		& + .accounts-list {
			margin-top: 30px;
		}
	}
}
