.restore-wrap {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	min-height: 100vh;

	.restore-info {
		flex-direction: column;
		position: relative;
		display: flex;
		margin-bottom: 240px;
	}

	.blip-logo {
		@include min-vh(860) {
			margin: auto 0 8vh;
		}
		width: 90px;
		margin: 16vh 0 6vh;
	}

	h1 {
		@include source-semibold();
		@include max-vw(900) {
			font-size: 3em;
			letter-spacing: 0.03em;
		}
		margin: 25px 0 0.6em;
		color: #fff;
		font-size: 3.5em;
		letter-spacing: 0.035em;
		white-space: nowrap;
	}

	p {
		@include source-regular();
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		color: #b89bf5;
		font-size: 1.7em;
		text-align: center;
	}
}

.clear-container {
	align-items: flex-start;
	justify-content: center;
	display: flex;
	width: 90vw;
	margin: auto auto 3vw;
	padding: 4em;
	border-radius: 4px;
	background-color: #dbd2f3;

	.checkbox {
		@include min-vw(1200) {
			label {
				max-width: 74%;
			}
		}
		padding-right: 60px;
	}

	.btn-white {
		@include min-vw(1400) {
			max-width: 260px;
		}
		@include min-vw(1200) {
			max-width: 210px;
		}
		max-width: 160px;
	}
}
