.send-wrap {
	@include min-vw($md) {
		padding: 50px 57px 0;
	}
	min-height: 100%;
	padding: 50px 40px 0;
	
	.page-title {
		margin-bottom: 41px;
	}

	.rectangle {
		@include min-vw($md) {
			padding: 33px 47px;
		}
		padding: 24px 27px;
	}
}
