.unlock-page {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	height: calc(100vh - 34px);
	overflow: hidden;
	padding: 5vh 5vw;

	.blip-logo {
		@include min-vw($md) {
			width: 90px;
		}
		width: 64px;
		margin: 8vh 0 auto;

		img {
			width: 100%;
		}
	}

	.form-wrap {
		margin: 0 0 8vh;
	}

	.btn-wrap {
		margin: auto 0 1em;

		.btn-primary:not(.ok) {
			width: 200px;
			padding: 0 20px;
		}
	}
}

.unlock-info {
	@include min-vw($md) {
		font-size: 28px;
		letter-spacing: 0.9px;
	}
	@include source-regular();
	margin: -2em 0 2em;
	color: #fff;
	font-size: 21px;
	letter-spacing: 0.7px;
}
