.wallet-wrap {
	@include min-vw(1400) {
		padding: 40px 50px 0;
	}
	flex-direction: column;
	position: relative;
	display: flex;
	min-height: calc(100% - 40px);
	padding: 40px 35px 0;
}

.settings-wrap {
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	height: 40px;
}

.balance-info {
	color: #33353f;

	.info {
		@include source-regular();

		color: rgba(#33353f, 0.5);

		.coins {
			font-size: 2em;
		}

		.currency {
			font-size: 1.4em;
			text-transform: uppercase;
		}

		.message {
			font-size: 1.4em;
		}

		.claim-link {
			margin-left: 5px;
			// color: #68539a;
			font-size: 1.4em;
		}
	}

	.balance {
		@include source-semibold();

		.int {
			font-size: 6em;
		}

		.fraction {
			font-size: 4em;
		}

		.currency {
			font-size: 4em;
		}
	}
}

.wallet-container {
	margin: auto 0;
}

.settings-tabs {
	flex-direction: column;
	display: flex;
	height: 100%;

	.menu {
		align-items: flex-end;
		display: flex;
		height: 6vh;
		min-height: 126px;
		padding: 0 24px 24px;
		border-bottom: 1px solid rgba(184, 155, 245, 0.4);

		&-item {
			@include source-regular();

			@include btn();
			margin-right: 13px;

			border: 1px solid transparent;
			border-radius: 3px;
			background-color: transparent;
			color: #b89bf5;
			font-size: 1.9em;
			letter-spacing: 0.019em;
			line-height: 1;
			user-select: none;
			transition: color $speed;
			animation: fadeIn $speed;
			will-change: transform;

			&:not(.active):not(:active) {
				@include onBtnFocus(4px, 2px, 2px, rgba(#43d7ad, 0.45));

				&:focus {
					border: 1px solid #43d7ad;
					transition: all $speed;
				}
			}

			&:hover {
				color: #e1d2ff;
			}

			&:active {
				border: 1px solid transparent;
				color: rgba(#e1d2ff, 0.5);
			}

			&:not(.active) {
				cursor: pointer;
			}

			&.active {
				color: #fff;
				cursor: text;
			}
		}
	}

	.archive-scroll {
		position: relative;
	}

	.segment {
		position: relative;
		padding: 30px;

		&.action {
			margin-top: auto;
			padding-bottom: 35px;

			.btn-primary {
				padding-right: 3.2em;
				padding-left: 3.2em;
			}
		}

		&.tab {
			.info-text {
				@include source-regular();
				color: #fff;
				font-size: 1.4em;
			}

			.checkbox {
				label {
					align-items: center;
					padding-left: 34px;
				}

				.label-account-name {
					@include source-regular();

					@include min-vw(1400) {
						font-size: 18px;
					}
					margin-left: 14px;
					color: #fff;
					font-size: 16px;
					line-height: 0;
				}
			}

			.accounts-list {
				.account {
					&:not(:last-child) {
						margin-bottom: 1.4em;
					}
				}
			}

			.select-accounts {
				.title {
					@include source-semibold();
					margin: 3em 0 1.2em;
					color: #fff;
					font-size: 1.3em;
					letter-spacing: 0.18em;
					text-transform: uppercase;
				}
			}

			.archive-table {
				margin-top: 6em;

				.line {
					align-items: center;
					display: flex;

					&:not(:last-child):not(.sub) {
						margin-bottom: 20px;
					}

					.col {
						&:nth-child(1) {
							width: 100%;
						}
					}

					.coin {
						@include source-regular();
						margin-right: 2em;
						color: #fff;
						font-size: 1.4em;
						text-transform: uppercase;
					}

					.balance {
						@include source-regular();
						@include text-overflow();
						@include min-vw(1000) {
							max-width: 230px;
						}
						max-width: 180px;
						color: #c1afee;
						font-size: 1.4em;
					}

					.type {
						@include source-regular();
						padding: 0 4px 1px 4px;
						background-color: #544389;
						color: #ac9ada;
						font-size: 1.3em;
					}

					& + .line {
						margin-top: 8px;
					}
				}
			}
		}
	}
}

.balances-list {
	display: grid;
	margin: 40px 0;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 6px;

	.line {
		justify-content: space-between;
		display: flex;
	}

	.balance-title {
		@include source-regular();
		color: #72747f;
		font-size: 14px;
	}

	.balance-item {
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		display: flex;
		height: 110px;
		overflow: hidden;
		padding: 15px 10px 15px 25px;
		border: 1px solid rgba(#9c9ea8, 0.46);
		border-radius: 4px;
		cursor: pointer;

		.line {
			transition: margin 0.3s;
		}

		&:hover {
			.line {
				margin-top: 25px;
			}

			.balance-item-header {
				top: 0;
			}

			.balance-type {
				background-color: #68539a;
			}
		}

		.balance-item-header {
			position: absolute;
			top: -26px;
			right: 0;
			left: 0;
			height: 25px;
			background-color: rgba(#cdced3, 0.3);
			transition: top 0.3s;

			.wrap {
				position: relative;
				width: 100%;
			}

			.balance-item-close {
				position: absolute;
				right: 0;
				width: 40px;
				height: 25px;
				padding: 0;
				border: 0;
				background-color: transparent;
				color: #8e8e97;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					background-color: #68539a;

					color: #fff;
				}
			}
		}

		.balance {
			@include source-semibold();
			align-items: baseline;
			display: flex;
			color: #33353f;
			white-space: nowrap;

			.integer {
				font-size: 20px;
			}

			.fractional {
				@include text-overflow();
				width: 100%;
				font-size: 16px;
			}
		}

		.balance-type {
			@include source-regular();
			padding: 2px 4px;
			background-color: #c9cacf;
			color: #fff;
			transition: background-color 0.3s;
		}
	}
}
