.wallet {
	flex-direction: column;
	display: flex;
	height: 100vh;

	.title {
		@include source-semibold();
		color: #33353f;
		font-size: 1.3em;
		text-transform: uppercase;
	}

	&-wrap {
		@include min-vw(1400) {
			padding: 40px 50px 0;
		}
		flex-direction: column;
		position: relative;
		display: flex;
		min-height: calc(100% - 40px);
		padding: 40px 35px 0;
	}

	.settings-wrap {
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		height: 40px;
		padding: 0 16px;
	}

	.page-scroll {
		flex: 1;
	}

	&-page-wrap {
		overflow: hidden;

		.page {
			transition: transform 0.2s;
		}

		&.open {
			.page {
				@include min-vw(1400) {
					transform: translateX(-480px);
				}
				transform: translateX(-420px);
			}
		}
	}
}

.balance-info {
	color: #33353f;

	.info {
		@include source-regular();

		color: rgba(#33353f, 0.5);

		.coins {
			font-size: 2em;
		}

		.currency {
			font-size: 1.4em;
			text-transform: uppercase;
		}

		.message {
			font-size: 1.4em;
		}

		.claim-link {
			margin-left: 5px;
			color: #68539a;
			font-size: 1.4em;
		}
	}

	.balance {
		@include source-semibold();

		.int {
			font-size: 6em;
		}

		.fraction {
			font-size: 4em;
		}

		.currency {
			font-size: 4em;
		}
	}
}

.wallet-container {
	margin: auto 0;
}

.wallet-footer {
	position: relative;
	min-height: 210px;
	padding: 2.5em;
	background-color: #e8e8e8;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);

	.last-transaction {
		position: relative;
		padding: 1.8em;
		border: 1px solid #bcbcbc;
		border-radius: 4px;

		.label {
			@include source-semibold();
			position: absolute;
			top: 0;
			margin: -0.5em 0 0 -10px;
			padding: 0 10px;
			background-color: #e8e8e8;
			font-size: 1.2em;
			letter-spacing: 0.2em;
			line-height: 1;
			text-transform: uppercase;
		}

		.line {
			@include source-regular();
			display: flex;
			color: #5b5c63;

			.date {
				margin-right: 4em;
				font-size: 1.4em;
			}

			.action {
				font-size: 1.4em;
			}

			.balance {
				@include source-semibold();
				margin-left: auto;
				color: #3f4a52;
				font-size: inherit;

				.coins {
					margin-right: 5px;
					font-size: 2.1em;
				}

				.currency {
					font-size: 1.6em;
				}
			}

			.action-info {
				color: #8e8e97;
				font-size: 1.4em;

				& + .action-info {
					margin-left: 4em;
				}

				.action-label {
					margin-right: 5px;
				}

				a {
					color: #7158ad;
				}
			}
		}
	}

	.footer-actions {
		align-items: center;
		justify-content: space-between;
		display: flex;
		margin-top: 1.5em;

		.btn-wrap {
			button {
				width: 100%;
				min-width: 140px;
				max-width: 10em;
			}
		}

		.footer-info {
			@include source-regular();
			font-size: 1.4em;
			text-align: right;

			.mode {
				margin-bottom: 6px;
				color: #8e8e97;
			}

			.sync {
				color: #5b5c63;

				.percent {
					margin-left: 5px;
					color: #33353f;
				}
			}
		}
	}
}

.wallet-settings {
	@include min-vw(1400) {
		width: 480px;
	}
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 420px;
	height: 100%;
	border-right: 1px solid #4d4175;
	background-color: #5e4b98;
}

.settings-tabs {
	flex-direction: column;
	display: flex;
	height: 100%;

	.menu {
		align-items: flex-end;
		display: flex;
		height: 6vh;
		min-height: 126px;
		padding: 0 24px 24px;
		border-bottom: 1px solid rgba(184, 155, 245, 0.4);

		&-item {
			@include source-regular();

			@include btn();
			margin-right: 13px;

			border: 1px solid transparent;
			border-radius: 3px;
			background-color: transparent;
			color: #b89bf5;
			font-size: 1.9em;
			letter-spacing: 0.019em;
			line-height: 1;
			user-select: none;
			transition: color $speed;
			animation: fadeIn $speed;
			will-change: transform;

			&:not(.active):not(:active) {
				@include onBtnFocus(4px, 2px, 2px, rgba(#43d7ad, 0.45));

				&:focus {
					border: 1px solid #43d7ad;
					transition: all $speed;
				}
			}

			&:hover {
				color: #e1d2ff;
			}

			&:active {
				border: 1px solid transparent;
				color: rgba(#e1d2ff, 0.5);
			}

			&:not(.active) {
				cursor: pointer;
			}

			&.active {
				color: #fff;
				cursor: text;
			}
		}
	}

	.segment {
		padding: 30px;

		&.action {
			margin-top: auto;
			padding-bottom: 35px;

			.btn-primary {
				padding-right: 3.2em;
				padding-left: 3.2em;
			}
		}

		&.accounts-filter {
			.info-text {
				@include source-regular();
				color: #fff;
				font-size: 1.4em;
			}

			.checkbox {
				label {
					align-items: center;
					padding-left: 34px;
				}

				.label-avatar {
					width: 24px;
					height: 24px;
					margin-right: 14px;
					border-radius: 50%;
				}

				.label-account-name {
					@include source-regular();

					@include min-vw(1400) {
						font-size: 18px;
					}
					color: #fff;
					font-size: 16px;
					line-height: 0;
				}
			}

			.accounts-list {
				.account {
					&:not(:last-child) {
						margin-bottom: 1.4em;
					}
				}
			}

			.select-accounts {
				.title {
					@include source-semibold();
					margin: 3em 0 1.2em;
					color: #fff;
					font-size: 1.3em;
					letter-spacing: 0.18em;
					text-transform: uppercase;
				}
			}
		}
	}
}
