.welcome-page {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
}

.welcome-wrap {
	@include max-vw(900) {
		justify-content: space-between;
	}
	align-items: stretch;
	justify-content: center;
	display: flex;
	padding: 40px;

	.avatar {
		@include min-vw(1400) {
			min-width: 60px;
			height: 60px;
		}
		min-width: 44px;
		height: 44px;
		margin-right: 1.8em;
		border-radius: 3px;
	}
}

.welcome-card {
	@include min-vw(900) {
		margin-left: 50px;
	}
	@include min-vw(1400) {
		width: 420px;
		margin-left: 100px;
	}
	width: 340px;
	margin-left: 25px;
	border-radius: 3px;
	background-color: #dbd2f3;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.02);

	.card-wrap {
		display: flex;
		padding-right: 38px;
		padding-left: 34px;
	}

	.head {
		width: 100%;
		border-bottom: 1px solid #c3b9df;

		.card-wrap {
			align-items: center;
			display: flex;
			padding: 25px 38px;
		}

		.account-info {
			.label {
				@include source-regular();
				color: rgba(#000, 0.5);
				font-size: 1.4em;
			}

			.name {
				@include source-semibold();
				margin-top: 3px;
				color: #000;
				font-size: 1.8em;
				line-height: 1.2em;
				word-break: break-all;
			}
		}
	}

	.body {
		.card-wrap {
			@include min-vw(1400) {
				padding: 40px 38px;
			}
			flex-direction: column;
			height: 100%;
			padding: 25px 38px;
			color: #000;

			span {
				font-size: 1.6em;
				line-height: 1.3;
			}
		}

		.wif-wrap {
			padding: 3em 0 4em;

			.wif-label {
				color: rgba(#000, 0.5);
				font-size: 1.4em;
			}

			.wif {
				@include source-semibold();
				margin: 8px 0 0;
				font-size: 2.4em;
				letter-spacing: 0.02em;
				line-height: 1.21;
				word-break: break-all;
			}
		}

		.btn-white {
			margin-top: auto;
		}
	}
}

.welcome-info {
	@include min-vw(1200) {
		max-width: 34%;
		margin-right: 50px;
	}
	@include min-vw(1400) {
		max-width: 30%;
		margin-right: 100px;
	}
	flex-direction: column;
	align-items: flex-start;
	display: flex;
	max-width: 40%;
	margin-right: 25px;

	h1 {
		@include source-semibold();
		@include max-vw(900) {
			font-size: 3em;
			letter-spacing: 0.03em;
		}
		margin: 25px 0 0.6em;
		color: #fff;
		font-size: 3.5em;
		letter-spacing: 0.035em;
	}

	p {
		@include source-regular();
		color: #b89bf5;
		font-size: 1.6em;
	}

	.btn-primary {
		margin: auto 0 30px;
	}

	&.import {
		@include min-vw(1200) {
			max-width: 100%;
			margin-right: 0;
		}
		@include min-vw(1400) {
			max-width: 100%;
		}
		@include max-vw(900) {
			width: 480px;
			margin: auto;
		}
		align-items: center;
		width: auto;
		max-width: 100%;
		min-height: 40vh;
		text-align: center;

		.account {
			align-items: center;
			display: flex;
			width: 70%;
			margin-top: 50px;
			padding: 1.8em 2em;
			border: 1px solid #9175cc;
			border-radius: 3px;
			text-align: left;

			.account-info {
				.label {
					@include source-regular();
					color: #b89bf5;
					font-size: 1.4em;
				}

				.name {
					@include source-semibold();
					margin-top: 3px;
					color: #fff;
					font-size: 1.8em;
					line-height: 1em;

					word-break: brebreak-word;
				}
			}
		}

		.btn-primary.arrow {
			margin: 12vh 0 0 0;
		}
	}
}

.wif-toast {
	@include source-regular();
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 60px;
	background-image: url(../images/wif-gradient.png);
	background-position: bottom;
	background-repeat-y: no-repeat;
	color: #b89bf5;
	font-size: 1.4em;
	letter-spacing: 0.014em;
}

.balances-list {
	display: grid;
	margin-top: 40px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 6px;

	.line {
		justify-content: space-between;
		display: flex;
	}

	.balance-title {
		@include source-regular();
		color: #72747f;
		font-size: 14px;
	}

	.balance-item {
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		display: flex;
		height: 110px;
		overflow: hidden;
		padding: 15px 10px 15px 25px;
		border: 1px solid rgba(#9c9ea8, 0.46);
		border-radius: 4px;
		cursor: pointer;

		.line {
			transition: margin 0.3s;
		}

		&:hover {
			&.hide {
				.line {
					margin-top: 25px;
				}
			}

			.balance-item-header {
				top: 0;
			}

			.balance-type {
				background-color: #68539a;
			}
		}

		.balance-item-header {
			position: absolute;
			top: -26px;
			right: 0;
			left: 0;
			height: 25px;
			background-color: rgba(#cdced3, 0.3);
			transition: top 0.3s;

			.wrap {
				position: relative;
				width: 100%;
			}

			.balance-item-close {
				position: absolute;
				right: 0;
				width: 40px;
				height: 25px;
				border: 0;
				background-color: transparent;
				color: #8e8e97;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					background-color: #68539a;

					color: #fff;
				}
			}
		}

		.balance {
			@include source-semibold();
			align-items: baseline;
			display: flex;
			color: #33353f;

			.integer {
				font-size: 20px;
			}

			.fractional {
				@include text-overflow();
				width: 100%;
				font-size: 16px;
			}
		}

		.balance-type {
			@include source-regular();
			padding: 2px 4px;
			background-color: #c9cacf;
			color: #fff;
			transition: background-color 0.3s;
		}
	}
}
